@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;600;700&family=Raleway:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blumine: #1b4d6a;
  --astral: #5b8a9a;
  --fountain-blue: #5ba2c2;
  --powder-blue: #a8d4e1;
  --polar: #ffffff;
  --font-space-bold-regular: 'Space Mono', monospace;
  --font-space-bold-semibold: 'Space Mono', monospace;
  --font-raleway-regular: 'Raleway', sans-serif;
}

@layer base {
  body {
    @apply font-raleway-regular bg-white text-blumine;
  }
}

@layer components {
  .font-space-bold-regular {
    font-family: var(--font-space-bold-regular);
    font-weight: 700;
  }
  .font-space-bold-semibold {
    font-family: var(--font-space-bold-semibold);
    font-weight: 600;
  }
  .font-raleway-regular {
    font-family: var(--font-raleway-regular);
    font-weight: 400;
  }
}

.font-space-mono-bold {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

.page-header {
  padding-top: 4rem; /* nebo jakoukoliv jinou hodnotu */
}

@media (min-width: 640px) {
  .page-header {
    padding-top: 6rem;
  }
}

@media (min-width: 768px) {
  .page-header {
    padding-top: 8rem;
  }
}
